#contact {
  display: grid;
  grid-template-rows: 1fr 1px 2fr;
  text-align: center;
  width: 400px;
  height: 200px;
}

#contact > h1 {
  font-size: 1.65rem;
  margin-left: 20px;
}

.contact-info {
  display: grid;
  align-items: center;
}

.contact-info > section > a {
  font-size: 1.1rem;
}

.contact-info > p {
  display: flex;
  font-size: 1.2rem;
  gap: 3px;
  justify-content: center;
  align-items: end;
}

@media screen and (max-width: 416px) {
  #contact {
    width: auto;
  }
}
