#home {
  display: grid;
  grid-template: 2fr 1fr / 2fr 1fr;
  text-align: center;
}

.profile-pic {
  grid-area: 1 / 2 / 2 / 2;
  height: 220px;
  width: 220px;
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 13px;
  margin-left: 20px;
  box-shadow: 5px 5px 5px #00000060;
}

.profile-pic > img {
  width: 220px;
}

.info {
  display: grid;
  grid-template-rows: 1fr 1px 1fr;
  flex-direction: column;
  align-items: center;
  grid-area: 1 / 1 / 2 / 2;
}

.info > h1 {
  font-size: 1.65rem;
  margin-bottom: 12px;
}

.info > p {
  font-size: 1.3rem;
  max-width: 525px;
}

.github--link {
  grid-area: 2 / 1 / 3 / 3;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
}

.github--link > a > img {
  position: relative;
  top: 2px;
  cursor: pointer;
}

.skills {
  grid-area: 2 / 1 / 3 / 3;
  margin-top: 15px;
  border-top: 1px solid rgb(160, 159, 159);
  display: flex;
  align-items: center;
  gap: 10px;
}

.skills > span {
  margin-left: 10px;
  font-size: 1.3rem;
  font-weight: 700;
}

.skills > ul {
  display: flex;
  flex-direction: row;
  gap: 5px;
  list-style: none;
}

.react-logo {
  animation: spin 4.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 850px) {
  #home {
    grid-template: 2fr 1fr / 1fr;
  }

  .profile-pic {
    display: none;
  }

  .skills {
    flex-direction: column;
  }
}
