article {
  display: grid;
  text-align: center;
}

article > section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

article > section > a > img {
  position: relative;
  top: 2px;
  cursor: pointer;
}
