#projects {
  position: relative;
  display: grid;
  align-items: center;
  grid-template: 24px 1px 342.5px / repeat(3, 251.85px);
  gap: 6px;
}

#projects > h1 {
  text-align: center;
  grid-area: 1 / 2 / 2 / 3;
}

#projects > hr {
  grid-area: 2 / 1 / 3 / 4;
}

.project {
  display: grid;
  text-align: center;
  border: 2px solid #000;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 5px 2px 2px #00000050;
}

.project > h1 {
  font-size: 1.4rem;
}

.spotify {
  grid-area: 3 / 1 / 4 / 2;
  background-color: rgb(226, 70, 112);
}

.cohort-dashboard {
  grid-area: 3 / 2 / 4 / 3;
  background-color: rgb(69, 195, 245);
}

.brewery-tours {
  grid-area: 3 / 3 / 4 / 4;
  background-color: rgb(248, 169, 66);
}

.project:hover {
  transform: scale(1.1, 1.1);
  transition: all 150ms ease-in-out;
}

.project-info {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 7px;
}

.project-info > p {
  max-height: 171px;
  max-width: 194.03px;
  font-size: 1.1rem;
  margin: 0.5rem 1.2rem;
  padding: 0.75rem 0;
}

.project-button {
  cursor: pointer;
  padding: 0.25rem;
  border-radius: 5px;
  border: 2px solid #000;
}

.project-button:hover {
  background-color: #cecbcb;
  transition: all 150ms ease-in-out;
}

@media screen and (max-width: 812px) {
  #projects {
    grid-template: 24px 1px repeat(3, 1fr) / 1fr;
    height: 350px;
    overflow-y: scroll;
    gap: 0;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  #projects > h1 {
    grid-area: 1 / 1 / 2 / 2;
    margin-bottom: 10px;
  }

  #projects > hr {
    grid-area: 2 / 1 / 3 / 4;
  }

  .project {
    max-width: 549px;
  }

  .project:hover {
    transform: none;
  }

  .project-info > p {
    max-width: none;
    max-height: none;
  }

  .spotify {
    grid-area: 3 / 1 / 4 / 2;
  }

  .cohort-dashboard {
    grid-area: 4 / 1 / 5 / 2;
  }

  .brewery-tours {
    grid-area: 5 / 1 / 6 / 2;
  }
}
