#root {
  display: grid;
  height: 100vh;
  width: 100vw;
  place-items: center;
  background: linear-gradient(
    to bottom right,
    #faf9f6 0%,
    #faf9f6 30%,
    #6ec6e4 55%,
    #6ec6e4 100%
  );
}

#theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  display: grid;
  place-items: center;
  padding: 0.45rem 1rem;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: 150px 1fr;
  padding: 0.5rem;
  gap: 6px;
  background-color: #faf9f6;
  border: 2px solid rgb(170, 168, 168);
  border-radius: 10px;
}

main > aside,
main > article {
  background-color: #fff;
  border: 2px solid rgb(167, 165, 165);
  border-radius: 8px;
  padding: 0.75rem;
  box-shadow: 4px 2px 2px #00000030;
}
