aside {
  max-height: 150px;
}

nav > ul {
  text-align: center;
  list-style: none;
}

nav > ul > li {
  font-weight: 700;
  padding: 0.65rem 0;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: rgb(43, 42, 42);
}
